<app-header></app-header>
<app-header></app-header>
<app-header></app-header>
<div [hidden]="hideRoom">
  Number Of Rooms:
  <div [ngStyle]="{'color': rooms?.availableRooms ? 'red':'green'}"
       [innerText]="numberOfRom"></div>
<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>
<div>
  <button class="btn btn-primary" (click)="addRoom()"> Add Room</button>
</div>
<div *ngIf="rooms?.availableRooms">
  <app-room-list [rooms]="roomList" [title]="title" (selectedRoom)="selectRoom($event)"></app-room-list>
</div>
</div>
<button class="" (click)="toggle()">Toggle</button>
<button class="" (click)="editRoom()">Edit</button>


<!--document.getElementById("numberOfRom").innerText = numberOfRooms-->
