<app-header></app-header>

<!--{{rooms$ | async | json}}-->
<div [hidden]="hideRoom">
  Number Of Rooms:
  <div [ngStyle]="{'color': rooms?.availableRooms ? 'red':'green'}"
       [innerText]="numberOfRom">

  </div>
</div>
<div>
  <button class="btn btn-primary" (click)="addRoom()"> Add Room</button>
</div>
  <h1>Error
    {{getError$ | async }}
  </h1>
<h1>Number Of Rooms:
  {{roomsCount$ | async }}
</h1>
<div *ngIf="rooms$ | async as rooms">
  <app-room-list [rooms]="rooms" [title]="title" (selectedRoom)="selectRoom($event)"></app-room-list>
</div>

<button class="" (click)="toggle()">Toggle</button>
<button class="" (click)="editRoom()">Edit</button>
<button class="" (click)="deleteRoom()">Delete</button>

<h1>{{totalBytes}} loaded</h1>

<!--document.getElementById("numberOfRom").innerText = numberOfRooms-->
